<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySql" connectionString="server=CentOSdb;database=PetaPocoSample;uid=testman;pwd=testpwd;SslMode=None;" />
    <add name="PostgreSql" connectionString="Server=CentOSdb;Port=5432;Database=petapoco_sample;Encoding=UTF8;User Id=testman;Password=testpwd;" />
    <add name="SQLServer" connectionString="Data Source=192.168.1.210;Database=PetaPocoSample;Integrated Security=False;User ID=testman;Password=testpwd;Pooling=true;" />
    <add name="Oracle" connectionString="Data Source=CentOSdb@scott;User Id=testman;Password=testpwd;Pooling=true;" />
  </connectionStrings>  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>