<?xml version="1.0" encoding="utf-8" ?>
<!-- NLog設定ファイル -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- ↓ログファイルが生成されるディレクトリ（{仮想ルートパス}/../Logs） -->
  <variable name="logDirectory" value="${basedir}/../../Logs" />
  <targets>
    <!-- [accessLog] ファイル(1日毎ローテーション：アーカイブ化最大30)-->
    <target name="accessLog"
            xsi:type="File"
            layout="${longdate} - ${message}"
            fileName="${logDirectory}/access.${shortdate}.log"
            encoding="utf-8"
            lineEnding="CRLF"
            archiveEvery="Day"
            maxArchiveFiles="30" />
            <!--
            archiveFileName="${logDirectory}/access.{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            -->
    <!-- [errorLog] ファイル(512KByte毎ローテーション：アーカイブ化最大20)-->
    <target name="errorLog"
            xsi:type="File"
            layout="${longdate} - ${message} - [${callsite}] ${onexception: ${newline}${exception:format=tostring}}"
            fileName="${logDirectory}/error.log"
            encoding="utf-8"
            lineEnding="CRLF"
            archiveFileName="${logDirectory}/error.{###}.log"
            archiveAboveSize="512000"
            archiveNumbering="Sequence"
            maxArchiveFiles="20" />
  </targets>
  <rules>
    <!-- <logger name="logger" minlevel="Info" maxlevel="Info" writeTo="accessLog" /> -->
    <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="accessLog" />
    <logger name="*" minlevel="Error" writeTo="errorLog" />
  </rules>
</nlog>